<div class="mt-5 p-4 bg-dark text-center text-gradient">
    <p>© 2023 Görsel Programlama III Vizesi Ödevi - Tüm hakları saklıdır.</p>
    <p>
        Bu web sitesi, Görsel Programlama III dersi kapsamında hazırlanan bir ödevdir ve Hamza ORTATEPE tarafından geliştirilmiştir. Sitedeki tüm içerik, ödevin amacı doğrultusunda hazırlanmıştır.<br>
    </p>
</div>

<style scoped>
    .text-gradient {
  background: linear-gradient(to right, #612552, #15726a , #72235e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

</style>