<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="padding-inline: 265px;">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Anasayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/starWars">Star Wars</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/indianaJones">Indiana Jones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/alien">Alien</a>
        </li>
        <li class="nav-item mr-5">
          <a class="nav-link" href="/predator">Predator</a>
        </li>
        <li class="nav-item ml-5">
          <div class="btn btn-dark" id="renkButton">Işık</div>
        </li>
      </ul>
    </div>
  </nav>